

body {
    background-image: url('background_img.jpg');
    color: white;
    font-family: Arial, sans-serif; /* Adds font family */
    }
    
    h1 {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 36px; /* Increases font size /
    margin-top: 50px; / Adds margin at the top */
    }
    
    fieldset {
    margin: 20px;
    padding: 20px;
    border: 2px solid rgba(223, 230, 16, 0.849);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); /* Adds a box shadow */
    }
    
    select {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2; /* Adds a background color /
    color: #333; / Changes text color */
    }
    
    #btnElem {
    background-color: rgba(223, 230, 16, 0.849);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Adds margin at the top /
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); / Adds a box shadow /
    transition: all 0.2s ease-in-out; / Adds a transition effect */
    }
    
    #btnElem:hover {
    background-color: rgba(255, 255, 255, 0.849);
    color: rgba(223, 230, 16, 0.849);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5); /* Changes box shadow */
    }
    
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    }
    
    th {
    background-color: rgba(223, 230, 16, 0.849);
    color: white;
    padding: 10px;
    text-align: center;
    }
    
    td {
    background-color: #f2f2f2;
    color: black;
    padding: 10px;
    text-align: center;
    }
    
    tr:nth-child(even) {
    background-color: #e6e6e6;
    }
    
    a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    color: rgba(223, 230, 16, 0.849); /* Changes text color /
    transition: all 0.2s ease-in-out; / Adds a transition effect */
    }
    
    a:hover {
    text-decoration: none;
    color: white; /* Changes text color on hover */
    }